flask~=2.3.3
requests~=2.31.0
urllib3~=2.0.7
SQLAlchemy~=2.0.41
Jinja2~=3.1.6
Werkzeug~=2.3.8
flask_sqlalchemy~=3.0.5
Babel~=2.13.1
replicate~=0.20.0
openai~=1.93.0
httpx>=0.24.0
flask_babel~=4.0.0
flask_login~=0.6.3
flask_mail~=0.9.1
python-dotenv~=1.0.1
google-genai
httpx>=0.24.0
