<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> MovieApp - {{_('New password')}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='new_password.css') }}">
</head>
<body>
    <div class="container">

        <div class="header">
            {{_('Password Reset')}}

        </div>
        <div class="login-div">
            <p> {{_('Enter a new password:')}} </p>
            <form class="login-form" method="POST" action="/reset_password/{{token}}">
                <label for="password"> {{_('New password:')}}</label><br>
                <input type="password" id="password" name="password" placeholder="*" required><br>
                <label for="password"> {{_('Confirm New password:')}}</label><br>
                <input type="password" id="password1" name="password1" placeholder="*" required><br>
                <input type="submit" value="{{_('Submit')}}">
            </form>
        </div>
    </div>
</body>
</html>
